{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block head %}About{% endblock %}

{% block body_block %}
<p><em>SJC Lab</em> helps to accumulate knowledge related to the St. John's College Laboratory program. Experimental procedures and techniques are detailed here, as well as the locations of the lab's materials. Lab assistants may contribute new experiments or refine existing ones.

<p>The site is also accessible on mobile devices, so lab assistants can quickly locate the materials they need for a practicum without interrupting one another or the lab director.

<p>This site is developed and maintained by Max Silbiger under the guidance of Mark Daly.