{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-fluid-adj.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
	
        <title>{% block title %}Lab - St. John's College{% endblock %}</title>
    </head>
<body>
<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">SJC Lab</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
			{% block navbar %}
            <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
            <li><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
			{% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><p class="navbar-text">Welcome, {{ user.username }}!</p>
                <li><a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <li><a href="{% url 'register' %}"><i class="fa fa-angle-right"></i> Register</a>
                <li><a href="{% url 'login' %}?next={{request.path}}"><i class="fa fa-angle-double-right"></i> Login</a>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
<div class="container">
	<div class="page-header">
			{% block head %}
			{% endblock %}
	</div>
</div>
<div class="container">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
             <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="row marketing">
        {% block body_block %}
        {% endblock %}
    </div>
</div>
<hr>
        <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
<footer>
    <div class="container">
        <p><i class="fa fa-heart"></i> Max Silbiger, St. John's College Lab 2014</p>
    </div>
</footer>
</html>