{% extends 'inventory/base.html' %}
{% block title %} Login {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
    <li><a href="{% url 'register' %}"><i class="fa fa-angle-right"></i> Register</a>
    <li class="active"><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i> Login</a>
{% endblock %}

{% block body_block %}
<form id="login_form" method="post" action="/inventory/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
{% endblock %}