{% extends 'inventory/base.html' %}
{% block title %} Login {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
{% endblock %}

{% block head %}
    <h2>Login</h2>
{% endblock %}
    
{% block body_block %}
<form class="form-horizontal" id="login_form" method="post" action="/inventory/login/">
{% csrf_token %}   
<fieldset>
<div class="form-group">
    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username">
    </div>
</div>
<div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
        <br />
        <input type="submit" value="Submit" />
      </div>
      
</div>
</fieldset>
</form>
{% endblock %}