{% extends 'inventory/base.html' %}
{% block title %} Edit Room {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
    {% if user.is_authenticated %}
        <li class="navbar-text">Welcome, {{ user.username }}!
        <li><a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <li><a href="{% url 'register' %}"><i class="fa fa-angle-right"></i> Register</a>
        <li><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i> Login</a>
    {% endif %}
{% endblock %}

{% block jumbotron %}
<h1>Edit Room {{ room }} Contents</h1>     
{% endblock %}

{% block body_block %}
<form id="experiment_form" enctype="multipart/form-data" method="post" action="">
<fieldset class="module aligned ">
<table>
    <tr>
    {% csrf_token %}
    {% for field in formset.forms.0 %}
        {% if not field.is_hidden %}
            <th>{{ field.label }}</th>
        {% endif %}
    {% endfor %}
    </tr>
    <!-- Not sure if the management form things are showing up quite right. -->
    {% for f in formset.management_form %}
        {{ f }}
    {% endfor %}
    {% for f in formset.forms %}
        <tr>
        {% for field in f %}
            {% if not field.is_hidden %}
                <td>
                {{ field.errors }}
                {{ field }}
                </td>
            {% else %}
                <td valign="bottom">{{ field }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</fieldset>
<input type="submit" name="submit" value = "Save Changes" />
</form
{% endblock %}