{% extends 'inventory/base.html' %}
{% block title %} Full Inventory {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
    {% if user.is_authenticated %}
        <li class="navbar-text">Welcome, {{ user.username }}!
        <li><a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <li><a href="{% url 'register' %}"><i class="fa fa-angle-right"></i> Register</a>
        <li><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i> Login</a>
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <h1>Full Inventory</h1>
{% endblock %}

{% block body_block %}
    {% if material_locations.items %}
        <ul>
        {% for key, value in material_locations.items %}
            <li><h5><strong>{{ key }}</strong></h5></a>
                <ul>
                    {% for instance in value %}
                        <li>{{ instance.count }}x in Room {{ instance.room }}, {{ instance.location }}
                    {% endfor %}
                </ul>
        {% endfor %}
        </ul>
        {% else %}
            <p>Labs are empty. You should probably call Public Safety if this isn't just a bug.</p>
    {% endif %}

    <p><a href="{% url 'room_index' %}" class="btn btn-primary btn-lg">Return to Room Index</a></p>
{% endblock %}