{% extends 'inventory/base.html' %}
{% block title %} Room Index {% endblock %}

{% block jumbotron %}
        <h1>Rooms</h1>
{% endblock %}
{% block body_block %}
        {% if rooms %}
            <ul>
            {% for room in rooms %}
                <li><a href="{% url 'room' room.number %}">{{ room }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><strong>No rooms are available.</strong></p>
        {% endif%}
        <p><a href="{% url 'rooms_all' %}">See all room contents</a></p>
        <p><a href="{% url 'index' %}">Return to Front Page</a></p>
{% endblock %}