{% extends 'inventory/base.html' %}
{% block title %} Full Inventory {% endblock %}
{% block jumbotron %}
    <h1>Full Inventory</h1>
{% endblock %}
{% block body_block %}
    {% if material_locations.items %}
        <ul>
        {% for key, value in material_locations.items %}
            <li><a href="javascript:toggleDiv('locations_{{ key }}');">{{ key }}</a></li>
                    <div class="locations_{{ key }}" style="display: block;">{{ value.count }}x in Room {{ value.room }}, {{ value.location }}</div>
        {% endfor %}
        </ul>
        {% else %}
            <p>Labs are empty. You should probably call Public Safety if this isn't just a bug.</p>
    {% endif %}

    <p><a href="{% url 'room_index' %}" class="btn btn-primary btn-lg">Return to Room Index</a></p>
{% endblock %}