{% extends 'inventory/base.html' %}
{% block title %} Room Index {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
    {% if user.is_authenticated %}
        <li class="navbar-text">Welcome, {{ user.username }}!
        <li><a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <li><a href="{% url 'register' %}"><i class="fa fa-angle-right"></i> Register</a>
        <li><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i> Login</a>
    {% endif %}
{% endblock %}

{% block jumbotron %}
        <h1>Rooms</h1>
{% endblock %}

{% block body_block %}
        {% if rooms %}
            <ul>
            {% for room in rooms %}
                <li><a href="{% url 'room' room.number %}">{{ room }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><strong>No rooms are available.</strong></p>
        {% endif%}
        <p><a href="{% url 'rooms_all' %}">See all room contents</a></p>
        <p><a href="{% url 'index' %}">Return to Front Page</a></p>
{% endblock %}