{% extends 'inventory/base.html' %}
<!-- Consider a view sorted by location? -->
<!-- I forget to pass in "room" in the context dict. Whoops. -->
{% block title %} Mellon {{ room_number }} - Inventory {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
{% endblock %}

{% block head %}
        <h1>Mellon {{ room_number }}</h1>
{% endblock %}
{% block body_block %}
        {% if materials %}
            <table class="table table-hover">
                <tr>
                    <th>Material</th>
                    <th>Count</th>
                    <th>Location</th>
                </tr>
            {% for material in materials.all %}
                {% if material.count > 0 %}
                <tr>
                {% else %}
                <tr style="color:#BBBDB6">
                {% endif %}
                    <td>{{material.name}}</td>
                    <td>{{material.count}}</td>
                    <td>{{material.location}}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            Room "{{ room_number }}" has no contents.
        {% endif %}
        
        <p style="color:grey;">Last updated {{ room.date_modified }}</p> <br />
        
        <p><a href="{% url 'room_edit' room_number %}" class="btn btn-primary btn-lg">Edit room contents</a>
        <a href="{% url 'room_index' %}" class="btn btn-default btn-lg">Return to Room Index</a></p>
{% endblock %}