{% extends 'inventory/base.html' %}
{% block title %} Room Index {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
{% endblock %}

{% block head %}
        <h1>Rooms</h1>
{% endblock %}

{% block body_block %}
        {% if rooms %}
            <ul>
            {% for room in rooms %}
                <li><a href="{% url 'room' room.number %}">{{ room }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><strong>No rooms are available.</strong></p>
        {% endif%}
        <p><a href="{% url 'rooms_all' %}" class="btn btn-primary btn-lg">See all room contents</a>
        <a href="{% url 'index' %}" class="btn btn-default btn-lg">Return to Front Page</a></p>
{% endblock %}