{% extends 'inventory/base.html' %}
{% block title %} Edit Room {% endblock %}

{% block navbar %}
    <li><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
    <li class="active"><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
{% endblock %}

{% block head %}
<h1>Edit Room {{ room }} Contents</h1>     
{% endblock %}

{% block body_block %}
<form id="experiment_form" action="" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {{ item_forms.management_form }}
<div id="items-form-container">
    <fieldset class="module aligned ">
    <table>     
    {% for item_form in item_forms %}
        <div id="item-{{ forloop.counter0 }}">
            <tr>
                {% for field in item_form %}
                    <td>
                        {{ field.errors }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        </div>
    {% endfor %}
    </table>
    </fieldset>
</div>
<a href="#" id="add-item-button" class="btn btn-info add-item">Add Item</a>
<input type="submit" name="submit" value = "Save Changes" />
</form>
{% endblock %}

<script type="text/html" id="item-template">
<div id="item-__prefix__">
    {{ item_forms.empty_form }}
</div>
</script>

<script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        var count = $('#items-form-container').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#items-form-container').append(compiledTmpl);

        // update form count
        $('#id_item_items-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
    });
});
</script>