<!DOCTYPE html>
<html>
    <head>
        <title>{{ tag_name }} - Experiments</title>
    </head>

    <body>
        <h1>Experiments Tagged: {{ tag_name }}</h1>
        {% if experiments %}
            <ul>
            {% for experiment in experiments.all %}
                <li>{{ experiment.name }} ({{ experiment.text.author }}, <i>{{ experiment.text.name }}</i>)</li>
            {% endfor %}
            </ul>
        {% else %}
           Tag {{ tag_name }} has no associated experiments.
        {% endif %}

        <p><a href="{% url 'experiment_index' %}">Return to Experiment Index</a></p>