<!DOCTYPE html>
<html>
    <head>
        <title>{{ tag_name }} - Experiments</title>
    </head>

    <body>
        {% if tag %}
            <h1>Experiments Tagged: {{ tag_name }}</h1>
            {% if experiments %}
                <ul>
                {% for experiment in experiments %}
                    <li><a href="{% url 'experiment' experiment.url%}">{{ experiment.title }}</a> ({{ experiment.text.author }}, <i>{{ experiment.text.title }}</i>)</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Tag {{ tag_name }} has no associated experiments.</p>
            {% endif %}
        {% else %}
        <p>Tag "{{ tag_name }}" not found.</p>
        {% endif %}

        <p><a href="{% url 'experiment_index' %}">Return to Experiment Index</a></p>