{% extends 'inventory/base.html' %}
{% block title %} {{ tag_name }} - Experiments {% endblock %}

{% block navbar %}
                <li class="active"><a href="{% url 'experiment_index' %}"><i class="fa fa-flask"></i> Experiments</a>
                <li><a href="{% url 'room_index' %}"><i class="fa fa-briefcase"></i> Inventory</a>
{% endblock %}

{% block head %}
        {% if tag %}
            <h1>Tag: {{ tag_name }}</h1>
        {% else %}
            <p>Tag "{{ tag_name }}" not found.</p>
        {% endif %}
{% endblock %}

{% block body_block %}
            {% if experiments %}
                <ul>
                {% for experiment in experiments %}
                    <li><a href="{% url 'experiment' experiment.url%}">{{ experiment.title }}</a> ({{ experiment.text.author }}, <i>{{ experiment.text.title }}</i>)</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Tag {{ tag_name }} has no associated experiments.</p>
            {% endif %}

        <p><a href="{% url 'experiment_index' %}" class="btn btn-primary btn-lg">Return to Experiment Index</a></p>
 {% endblock %}