git+https://github.com/django/django.git@1.7
Pillow==2.5.3
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
psycopg2==2.5.3
static3==0.5.1
boto==2.32.1
django-storages==1.1.8
django-s3-folder-storage==0.1
git+https://github.com/macropin/django-registration.git@675f87567afdc9913eaead40d6056c0f482df56b
django-inspectional-registration==0.4.3