git+https://github.com/django/django.git@1.7
Pillow==2.5.3
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
psycopg2==2.5.3
static3==0.5.1
boto==2.32.1
django-storages==1.1.8
django-s3-folder-storage==0.1
django-registration-redux==1.1
Collectfast==0.2.1
django-wysiwyg==0.7.0
html5lib==0.999