{% extends 'inventory/base_pretty.html' %}
{% block title %}Register{% endblock %}

{% block image %}axlotl.jpg{% endblock %}

{% block content %}
<h1 class="brand-heading">Register</h1>

{% if messages %}
        {% for message in messages %}
             <p>{{ message }}
        {% endfor %}
{% endif %}

        <form class="form-horizontal" id="user_form" method="post" action="">
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                        <input type="text" name="username" class="form-control" id="id_username" maxlength="30" placeholder="Username" style="margin-left:auto;margin-right:auto;width:25%;">
                </div>
                
                <div class="form-group">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" maxlength="50" style="margin-left:auto;margin-right:auto;width:25%;">
                </div>
            
                <div class="form-group">
                        <input type="text" name="email" class="form-control" id="id_email" placeholder="Email" maxlength="75" style="margin-left:auto;margin-right:auto;width:25%;">
                    {{ supplement_form.as_p }}
                    <br />
                    <input type="submit" class="btn btn-default btn-lg" value="Register" />
                </div>
            </fieldset>
        </form>
        <p>Registration is open only to current Annapolis lab assistants and tutors. The administrator reviews all registrations before activating them.
        <p>Already registered? <a href="{% url 'login' %}">Click here to login.</a></p>
{% endblock %}