{% extends 'inventory/base.html' %}
{% block title %} Register {% endblock %}

{% block head %}
<h2> Register </h2>
{% endblock %}
{% block body_block %}
        <strong>Create an account to edit experiments and the inventory.</strong><br />
        <p>Registration is open only to current Annapolis lab assistants. The administrator reviews all registrations before activating them.</p>

        <form class="form-horizontal" id="user_form" method="post" action="">
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <label for="id_username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" name="username" class="form-control" id="id_username" maxlength="30" placeholder="Username">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="id_password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" maxlength="50">
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="id_email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" name="email" class="form-control" id="id_email" placeholder="Email" maxlength="75">
                    </div>
                    {{ supplement_form.as_p }}
                    <input type="submit" value="Register" />
                </div>
            </fieldset>

        </form>
        <p>Already registered? <a href="{% url 'login' %}">Click here to login.</a></p>
{% endblock %}